$body-font-size: 15px;
$body-font-height: 24px;
$body-font-color: #444;
$bg-color: #fff;
$menu-font-color: #000;
$title-font-color: #000;

$color-green: #62d1ba;

$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";
