.btn {
  display: block;
  padding: 17px 0 15px 0;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #444;

  background-color: transparent;
  border: 2px solid #444;

  &:hover {
    color: $font-color-light;

    background-color: #444;
  }

  &:active {
    color: rgba($font-color-light,0.3);

    background-color: #444;
  }
}
