.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog-item:hover .catalog-item__description {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
}

.catalog-item:active .catalog-item__description {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}

.catalog-item__photo {
  cursor: pointer;

  img {
    width: 260px;
    height: 195px;

    vertical-align: top;
  }
}

.catalog-item__description {
  padding: 0 28px;
  padding-top: 25px;

  border: 1px solid #ededed;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 5px;

  a {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: $title-font-color;

    cursor: pointer;
  }

  a:hover {
    color: rgba($title-font-color,0.6);
  }

  a:active {
    color: rgba($title-font-color,0.3);
  }
}

.catalog-item__options {
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__order {
  display: flex;
  justify-content: space-between;
  padding: 21px 0 27px 0;
  margin-top: 19px;

  border-top: 1px solid #ececec;
}

.catalog-item__price {
  color: #000;
}

.catalog-item__basket {
  width: 21px;
  height: 19px;

  font-size: 0;

  cursor: pointer;
}

.catalog-item__basket-icon {
  fill: rgba(34,31,31,0.2);
}

.catalog-item__basket:hover .catalog-item__basket-icon {
  fill: rgba(99,209,187,1);
}

.catalog-item__basket:active .catalog-item__basket-icon {
  fill: rgba(99,209,187,0.3);
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} and (max-width: 1149px) {
  .catalog-item {
    flex-direction: row;
    margin-bottom: 54px;
  }

  .catalog-item__photo {
    flex-shrink: 0;
    width: 334px;
    height: 334px;

    overflow: hidden;

    img {
      width: 334px;
      height: 334px;
    }
  }

  .catalog-item__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 0 28px;
    padding-top: 25px;
  }

  .catalog-item__title {
    padding-right: 45px;

    a {
      font-size: 20px;
    }
  }

  .catalog-item__options {
    font-size: 15px;
  }

  .catalog-item__order {
    margin-top: auto;

    font-size: 17px;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .catalog-item {
    width: 316px;
    margin-right: auto;
    margin-bottom: 57px;
  }

  .catalog-item:nth-of-type(3n) {
    margin-right: 0;
  }

  .catalog-item__photo img {
    width: 316px;
    height: 462px;
  }

  .catalog-item__description {
    display: flex;
    flex-direction: column;

    min-height: 170px;
  }

  .catalog-item__title {
    padding-right: 20px;

    a {
    font-size: 20px;
    }
  }

  .catalog-item__options {
    font-size: 15px;
  }

  .catalog-item__order {
    margin-top: auto;

    font-size: 17px;
  }
}
