.contacts {
  margin-bottom: 39px;
}

.contacts__content {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;

  @include title-font(18px, 30px);
}

.contacts__items {
  margin-bottom: 36px;

  font-size: 15px;
  line-height: 30px;
}

.contacts__item {
  display: flex;

  margin-bottom: 30px;
}

.contacts__item-email,
.contacts__item-address {
  width: 75px;

  font-weight: normal;
}

.contacts__item-email-value {
  width: 183px;

  text-decoration: none;
  color: #444;

  span {
    border-bottom: 1px solid $color-green;
  }

  &:hover {
    color: #46c1ae;
  }

  &:hover span {
    border-bottom-color: #46c1ae;
  }

  &:active {
    color: rgba(70,193,174,0.3);
  }

  &:active span {
    border-bottom-color: rgba(70,193,174,0.1);
  }
}

.contacts__item-address-value {
  width: 163px;
  margin: 0;
  padding-right: 20px;
}

.contacts__map {
  width: 100%;
  height: 457px;

  iframe {
    width: 100%;
    height: 457px;
    vertical-align: bottom;
  }
}

.contacts__feedback {
  width: 256px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;

  font-size: 18px;
}

@media #{$mobile-widths-only} {
  .contacts__map {
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%,
                transparent url("../img/map-mobile@1x.jpg") no-repeat 50% 0;
      @media #{$retina} {
      background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%,
                  transparent url("../img/map-mobile@2x.jpg") no-repeat 50% 0;
      background-size: auto, auto 457px;
    }
  }
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .contacts {
    margin-bottom: 57px;
  }

  .contacts__content {
    width: 668px;
    padding: 0 50px;
  }

  .contacts__title {
    position: relative;

    margin-bottom: 49px;
    margin-left: -4px;

    @include title-font(43px, 50px);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 47px;
      height: 81px;
      margin-right: 3px;

      background: transparent url("../img/icon-flag.svg") no-repeat;
      transform: translateY(-19%);
    }
  }

  .contacts__items {
    display: flex;

    margin-bottom: 56px;

    font-size: 17px;
  }

  .contacts__item {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__item-email,
  .contacts__item-address {
    width: 78px;
  }

  .contacts__item-email-value,
  .contacts__item-address-value {
    width: auto;
    padding-right: 0;
  }

  .contacts__map {
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%,
                transparent url("../img/map-tablet@1x.jpg") no-repeat 50% 0;
    @media #{$retina} {
      background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%,
                  transparent url("../img/map-tablet@2x.jpg") no-repeat 50% 0;
      background-size: auto, auto 457px;
    }
  }

  .contacts__feedback {
    width: 226px;
    margin-top: 55px;

    font-size: 17px;
    line-height: 17px;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .contacts {
    position: relative;

    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 105px;
  }

  .contacts__content {
    flex-shrink: 0;

    width: 350px;
    margin: 0;
    padding: 0;
    padding-left: 225px;
    padding-bottom: 52px;
  }

  .contacts__title {
    position: relative;

    margin-top: 70px;
    margin-bottom: 49px;
    margin-left: -5px;

    @include title-font(53px, 57px);

    &::after {
      left: 0;
      margin: 0;
      margin-top: -8px;
      margin-left: -60px;

      transform: translateX(-100%);
    }
  }

  .contacts__items {
    flex-shrink: 0;
    flex-direction: column;

    margin-bottom: 0;
  }

  .contacts__item {
    width: auto;
    margin-bottom: 30px;
  }

  .contacts__map {
    flex-grow: 1;

    width: 525px;
    margin-right: 50px;

    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%,
                transparent url("../img/map-desktop@1x.jpg") no-repeat 50% 0;
    @media #{$retina} {
      background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%,
                  transparent url("../img/map-desktop@2x.jpg") no-repeat 50% 0;
      background-size: auto, auto 457px;
    }
  }

  .contacts__feedback {
    position: absolute;
    left: 225px;
    bottom: 0;
  }
}
