.input-field {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding: 14px 0;

  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
  color: #444;

  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 0;

  outline: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--phone,
  &--mail {
    padding-right: 45px;
  }

  &::-webkit-input-placeholder {
    color: rgba(68,68,68,0.3);
  }

  &::-moz-placeholder {
    color: rgba(68,68,68,0.3);
  }

  &:-moz-placeholder {
    color: rgba(68,68,68,0.3);
  }

  &:-ms-input-placeholder {
    color: rgba(68,68,68,0.3);
  }

  &:hover,
  &:active {
    border-bottom-color: $color-green;
  }

  &--phone:hover + .user-phone__icon,
  &--phone:active + .user-phone__icon {
      fill: $color-green;
  }

  &--mail:hover + .user-email__icon,
  &--mail:active + .user-email__icon {
      fill: $color-green;
  }
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .input-field {
    flex-grow: 1;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 13px;
    padding-left: 18px;
    box-sizing: border-box;

    font-size: 19px;
    line-height: 23px;

    &:last-of-type {
      margin-bottom: 12px;
    }

    &--phone,
    &--mail {
      padding-right: 60px;
    }
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .input-field--phone,
  .input-field--mail {
    padding-right: 45px;
  }
}
