.order__content,
.order__footer {
  padding: 0 30px;
}

.order__item {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  border: 0;
}

.order__wrapper:nth-last-of-type(2) .order__item {
  margin-bottom: 0;
}

.order__note {
  margin: 17px 0;

  font-size: 14px;
  line-height: 16px;
}

.order__button {
  width: 100%;
  margin-top: 30px;
}

.order__title--hidden {
  display: none;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .order__wrapper {
    &--color {
      background-color: #f1f1f1;
    }
  }

  .order__content {
    padding: 0 50px;
  }

  .order__item {
    position: relative;

    margin: 0;
    padding-left: 167px;
    padding-top: 38px;
    padding-bottom: 38px;

    border: 0;

    &--phone {
      padding-bottom: 0;
    }
    &--mail {
      padding-top: 0;
    }
  }

  .order__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  .order__note {
    margin: 13px 0 10px 0;

    font-size: 17px;
    line-height: 30px;
  }

  .order__button {
    order: -1;
    width: 230px;
    margin-top: 3px;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .order__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .order__item {
    margin-left: 62px;
    padding-left: 113px;
  }

  .order__footer {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 225px;
  }

  .order__note {
    margin-top: 10px;
  }

  .order__button {
    margin-top: 0;
  }
}
