.page-main__title {
  margin: 0;
  padding: 70px 0 76px 0;

  text-align: center;
  @include title-font(27px, 30px);

  background-color: #f1f1f1;
}

.page-main__content {
  padding: 0 30px;
}

.page-main__catalog {
  width: 260px;
  margin: 0 auto;
  margin-top: 30px;
}

.page-main__production {
  display: flex;
  flex-direction: column;

  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;

  p {
    margin: 0;
    margin-bottom: 14px;

    font-size: 13px;
    line-height: 24px;
  }
}

.page-main__production-title {
  position: relative;

  margin: 0;
  padding: 24px 15px 23px 90px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;

  border: 1px solid #ececec;
  border-bottom: 0;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 33px;

    width: 32px;
    height: 32px;

    background: transparent url("../img/icon-video.svg") no-repeat;

    transform: translateY(-55%);
  }
}

.page-main__production-video {
  position: relative;

  width: 260px;
  height: 150px;

  background: transparent url("../img/video-mobile@1x.jpg") no-repeat;

  @media #{$retina} {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: cover;
  }

  video {
    width: 260px;
    height: 150px;

    vertical-align: top;
  }
}

.page-main__video-button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 102px;
  height: 78px;
  margin: 0;
  margin-top: 4px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;

  transform: translate(-50%, -50%);

  &:hover svg {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.3;
    svg {
    transform: scale(0.8);
    }
  }
}

.page-main__production-info {
  padding: 27px 33px 32px 33px;

  border: 1px solid #ececec;
  border-top: 0;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
  }
}

.page-main__production-order {
  margin-top: 25px;
}

.page-main__text-info {
  margin-top: 23px;
  margin-bottom: 10px;

  font-size: 13px;
}

.page-main__order {
  margin-top: 23px;
  margin-bottom: 55px;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .page-main__title {
    position: relative;

    margin-bottom: 30px;
    padding: 95px 0 79px 0;

    @include title-font(43px, 50px);
    @include zigzag-fill(24px);
  }

  .page-main__content {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .page-main__catalog {
    width: auto;
    margin-top: 80px;
    margin-bottom: 54px;
  }

  .page-main__production {
    position: relative;

    width: 668px;
    margin-bottom: 63px;

    p {
      margin-bottom: 16px;

      font-size: 15px;
      line-height: 30px;
    }
  }

  .page-main__production-title {
    order: 2;
    padding: 38px 20px 32px 108px;

    font-size: 20px;

    &:before {
      left: 41px;
      margin-top: 3px;
    }
  }

  .page-main__production-video {
    order: 1;

    width: 668px;
    height: 455px;

    background: transparent url("../img/video-tablet@1x.jpg") no-repeat;

    @media #{$retina} {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: cover;
    }

    video {
      width: 668px;
      height: 455px;
    }
  }

  .page-main__production-info {
    order: 3;

    padding: 0 41px 45px 41px;
  }

  .page-main__production-order {
    margin-top: 34px;
  }

  .page-main__text-info {
    margin-top: 73px;
    margin-bottom: 7px;

    font-size: 17px;
    line-height: 30px;
  }

  .page-main__order {
    margin-top: 6px;
    margin-bottom: 50px;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .page-main__title {
    padding: 93px 0 104px 0;

    &::after {
      height: 34px;
      margin-bottom: -17px;

      background-size: auto 34px;
    }

    @include title-font(53px, 57px);
  }

  .page-main__content {
    max-width: 1200px;
  }

  .page-main__catalog {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 128px;
    margin-bottom: 0;
  }

  .page-main__production {
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 1050px;
    height: 455px;
    margin-bottom: 105px;

    p {
      margin-bottom: 16px;
    }
  }

  .page-main__production-title {
    width: 230px;
    padding: 95px 57px 33px 80px;

    border-left: 0;

    &:before {
      left: 80px;
      top: 42px;
      margin-top: 0;

      transform: none;
    }
  }

  .page-main__production-video {
    width: 682px;
    height: 455px;

    background: transparent url("../img/video-desktop@1x.jpg") no-repeat;

    @media #{$retina} {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: cover;
    }

    video {
      width: 682px;
      height: 455px;
    }
  }

  .page-main__video-button {
    margin-top: 0;
    margin-left: 9px;
  }

  .page-main__production-info {
    flex-grow: 1;
    width: 230px;
    padding: 0 57px 0 80px;

    border-left: 0;
  }

  .page-main__production-order {
    margin-top: 46px;
  }

  .page-main__text-info {
    padding: 0 175px;
    margin-top: 122px;
    margin-bottom: 5px;
  }

  .page-main__order {
    margin-top: 5px;
  }
}
