.page-footer {
  background-color: #f1f1f1;
}

.page-footer__content {
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 24px;
  padding-bottom: 27px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  display: block;

  margin: 0;
  padding: 10px 0;

  font-size: 19px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #000;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  svg {
    margin-left: 30px;
    vertical-align: middle;
    fill: #63d1bb;

    &:hover {
      fill: rgba(70,193,174,1);
    }
  }
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .page-footer__content {
    max-width: 1200px;
    margin: 0 auto;
    height: 34px;
    padding: 0 50px;
    padding-top: 55px;
    padding-bottom: 54px;

    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      font-size: 0;
      line-height: 0;
    }
  }

  .page-footer__logo {
    display: inline-block;

    vertical-align: top;
  }

  .page-footer__social {
    display: inline-block;
    height: 30px;
    margin-left: 87px;
    padding: 0;

    vertical-align: top;

    border-bottom: 0;
  }

  .page-footer__copyright {
    display: inline-block;
    padding: 0;

    line-height: 34px;
    vertical-align: top;
  }

  .page-footer__copyright-link {
    img {
      vertical-align: top;
    }
  }
}
