.products {
  min-width: 320px;
  margin-bottom: 27px;

  color: #000;
}

.products__title {
  width: 260px;
  margin: 0 auto;
  padding: 70px 0 122px 0;  // 73/120

  text-align: center;
  @include title-font(27px, 30px);
}

.products__item {
  position: relative;

  display: block;

  text-decoration: none;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &:hover {
    margin-top: -5px;
    padding-bottom: 5px;
  }

  &--interior:hover {
    background-color: #59d5bc;
  }

  &--toys:hover {
    background-color: #46c1ae;
  }

  &:active .products__item-title {
    color: rgba(255,255,255,0.3);
  }

  &:active .products__icon {
    fill: rgba(20,144,128,0.3);
  }
}

.products__item-title {
  width: 130px;
  margin: 0;
  padding: 26px 0 29px 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}

.products__icon {
  position: absolute;
  top: 50%;

  fill: rgba(20,144,128,0.5);
  transform: translateY(-50%);

  &--interior {
    right: 36px;

    width: 41px;
    height: 62px;
  }

  &--toys {
    right: 26px;

    width: 61px;
    height: 61px;
  }
}

@media #{$mobile-widths-only} {
  .products {
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% -18px;
      @media #{$retina} {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .products {
    position: relative;

    margin-bottom: 47px;

    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% -1px;
    @media #{$retina} {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: auto 746px;
    }

    @include zigzag-fill(24px);
  }

  .products__title {
    width: auto;
    padding: 154px 50px 367px 50px;

    @include title-font(43px, 50px);
  }

  .products__items {
    display: flex;
    align-items: flex-end;
    padding: 0 50px;
  }

  .products__item {
    width: 50%;
    margin-top: 5px;

    &:hover {
      padding-bottom: 5px;
      margin-top: 0;
    }
  }

  .products__item-title {
    padding: 28px 0 30px 37px;

    font-size: 20px;
    line-height: 30px;
  }

  .products__icon {
    &--toys {
      right: 33px;
    }
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .products {
    margin-bottom: 72px;

    &::after {
      height: 34px;
      margin-bottom: -17px;

      background-size: auto 34px;
    }
  }

  .products__title {
    padding: 153px 50px 354px 50px;

    @include title-font(53px, 57px);
  }

  .products__items {
    max-width: 1300px;
    margin: 0 auto;
  }
}
