/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .product-color__items {
    display: flex;
    flex-wrap: wrap;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .product-color {
    padding-right: 87px;
  }
}
