.radio {
  &:first-of-type .radio__label {
    margin-top: 18px;
  }

  &:last-of-type .radio__label {
    //margin-bottom: 0;
  }
}

.radio__input {
  display: none;
}

.radio__label {
  position: relative;

  display: block;
  margin-top: 3px;
  //margin-bottom: 20px;
  margin-bottom: 0;
  padding: 10px 15px 11px 63px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;
    padding: 10px;

    background-clip: content-box;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #444;
  }

  &:hover::before {
    border-color: $color-green;
  }

  &:active::before {
    border-color: #c7c7c7;
  }
}

.radio__input:checked + .radio__label::before {
  background-color: $color-green;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .radio {
    &:first-of-type .radio__label {
      margin-top: 0;
    }
  }

  .radio__label {
    margin: 0;
    padding: 29px 15px 28px 81px;

    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    color: #000;

    &::before {
      top: 50%;

      width: 22px;
      height: 22px;
      padding: 13px;

      transform: translateY(-50%);
    }
  }
}
