.shop-info {
  margin-bottom: 54px;
}

.shop-info__content {
  padding: 0 30px;
}

.shop-info__title {
  margin: 0;
  margin-bottom: 32px;

  @include title-font(25px, 30px);
}

.shop-info__subtitles {
  margin: 0;
  padding: 0;

  list-style: none;
}

.shop-info__subtitle {
  position: relative;

  margin-bottom: 29px;
  padding-top: 54px;

  font-size: 17px;
  line-height: 1.2;
  font-weight: bold;
  color: $title-font-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 10px;
  }

  &--material {
    padding-right: 25%;
  }

  &--material::before {
    width: 33px;
    height: 38px;
    margin-left: 8px;

    background: transparent url("../img/icon-feature-1.svg") no-repeat;
  }

  &--style {
    padding-right: 22%;
  }

  &--style::before {
    width: 47px;
    height: 27px;

    background: transparent url("../img/icon-feature-3.svg") no-repeat;
  }

  &--like {
    padding-right: 28%;
  }

  &--like::before {
    width: 34px;
    height: 28px;
    margin-left: 7px;
    margin-top: 4px;

    background: transparent url("../img/icon-feature-5.svg") no-repeat;
  }

  &--work {
    padding-right: 18%;
  }

  &--work::before {
    width: 35px;
    height: 34px;
    margin-top: 2px;
    margin-left: 2px;

    background: transparent url("../img/icon-feature-2.svg") no-repeat;
  }

  &--producer::before {
    width: 55px;
    height: 23px;
    margin-top: 3px;
    margin-left: -5px;

    background: transparent url("../img/icon-feature-4.svg") no-repeat;
  }

  &--packing {
    padding-right: 22%;
  }

  &--packing::before {
    width: 33px;
    height: 32px;
    margin-left: 2px;

    background: transparent url("../img/icon-feature-6.svg") no-repeat;
  }
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .shop-info {
    margin-bottom: 27px;
  }

  .shop-info__content {
    padding: 0 50px;
  }

  .shop-info__title {
    margin-bottom: 47px;
    margin-left: -4px;

    @include title-font(43px, 50px);
  }

  .shop-info__subtitles {
    //column-count: 2;
    //column-gap: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .shop-info__subtitle {
    width: 50%;
    margin-bottom: 53px;
    padding-right: 0;

    font-size: 20px;

    &--material {
      order: -6;
      width: 33%;
      //padding-right: 35%;
      padding-right: 17%;
    }

    &--style {
      order: -4;
      width: 38%;
      padding-right: 12%;
    }

    &--style::before {
      margin-top: 2px;
    }

    &--like {
      order: -2;
      width: 35%;
      padding-right: 15%;
    }

    &--like::before {
      margin-left: 8px;
      margin-top: 6px;
    }

    &--work {
      order: -5;
      width: 40%;
      padding-right: 10%;
    }

    &--work::before {
      margin-top: 4px;
      margin-left: 3px;
    }

    &--producer {
      order: -3;
      width: 50%;
    }

    &--producer::before {
      margin-top: 5px;
    }

    &--packing {
      order: -1;
      width: 40%;
      padding-right: 10%;
    }

    &--packing::before {
      margin-top: 3px;
      margin-left: 3px;
    }
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .shop-info {
    margin-bottom: 34px;
  }

  .shop-info__content {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 225px;
  }

  .shop-info__title {
    margin-bottom: 48px;

    @include title-font(53px, 57px);
  }

  .shop-info__subtitle {
    &--style {
      width: 35%;
      padding-right: 15%;
    }

    &--like {
      width: 32%;
      padding-right: 18%;
    }
  }
}
