.user-note__textarea {
  width: 100%;
  min-height: 142px;
  margin-top: 25px;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .user-note__textarea {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .user-note {
    margin-right: 175px;
  }
}
