.user-phone__icon {
  position: absolute;
  bottom: 16px;
  right: 8px;

  width: 25px;
  height: 25px;

  fill: rgba(0,0,0,0.2);
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .user-phone__icon {
    bottom: 27px;
    right: 26px;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .user-phone {
    margin-right: 175px;
  }

  .user-phone__icon {
    bottom: 27px;
    right: 8px;
  }
}
