.user-phone__content {
  position: relative;

  display: flex;
}

.user-phone__icon {
  position: absolute;
  top: 12px;
  right: 8px;

  width: 25px;
  height: 25px;

  fill: rgba(0,0,0,0.2);
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .user-phone__icon {
    top: 25px;
    right: 26px;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .user-phone {
    margin-right: 175px;
  }

  .user-phone__icon {
    right: 8px;
  }
}
